<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:label="aurora_mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        ...
    </application>

    <queries>
        ...
    </queries>
</manifest>
